body {
  background-color: #FCF8E8;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 3%;
  border-color: #C8DBBE;
}
h1 {
  font-family: "Brush Script MT", cursive;
  color: #5DA7DB;
}
h3{
  font-family: "w3-cursive",cursive;
  color: #647E68;
}
